.middleware
    width: 250px
    background-color: #4b7be1
    border-radius: 5px
    color: white
    background: red
    position: absolute

    .code-block
        margin: 0
        background-color: #2e3440

        code
            display: block
            white-space: pre
            line-height: 1.5em

            .keyword
                color: #1b7ee1

            .string
                color: #68da04

            .comment
                color: #0055ff

            .number
                color: #ff00d0
