<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
    <!-- Node with connections -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            {{node.node.name}}
        </div>
        <div [class.tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
        </div>
    </mat-nested-tree-node>

    <!-- Connection details -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <span [ngStyle]="{'color': node.type === 'from' ? 'green' : 'red'}">
            {{node.connectionId}} ({{node.type}})
        </span>
    </mat-tree-node>
</mat-tree>