.canvas-container
  position: relative
  height: 100vh
  border: 1px solid #ccc
  background-color: #ffffff
  overflow: hidden
  cursor: grab

  .virtual-space
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

    app-node
      position: absolute

    .connections
      position: absolute
      pointer-events: none
      top: 0
      left: 0
      width: 100%
      height: 100%

  .editor-panel
    position: absolute
    top: 0
    right: -800px
    width: 800px
    height: 100%
    background: #2d2d2d
    transition: right 0.3s ease

    &.open
      right: 0

.add-btn
  position: absolute
  z-index: 100
