<div class="canvas-container" (mousemove)="onMouseMove($event)" (mouseup)="endConnection({ node: null })">
  <button (click)="addNode()">Add Node</button>
  <app-node *ngFor="let node of nodes" [nodeName]="node.name" [position]="node.position"
    (nodeMoved)="onNodeMoved($event)" (startConnection)="startConnection($event)"
    (mouseup)="endConnection({ node: node })">
  </app-node>
  <svg class="connections">
    <path *ngFor="let connection of connections" [attr.d]="generatePath(connection.fromNode, connection.toNode)"
      stroke="black" fill="none" />
    <path *ngIf="drawingConnection" [attr.d]="generatePath(drawingConnection.fromNode, { position: cursorPosition })"
      stroke="red" fill="none" />
  </svg>
</div>