<div class="sidebar">
  <div class="panel">
    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown()">Files <mat-icon>keyboard_arrow_down</mat-icon></button>
      <div class="dropdown-content" [ngClass]="{'show': dropdownOpen}">
        <a href="#">Export</a>
        <a href="#">Import</a>
        <a href="#">Settings</a>
      </div>
    </div>
    <ul class="node-list">
      <li *ngFor="let node of nodes">
        <div class="icon"
          [ngStyle]="{'border-color': getConnectionColor(node.type),'background-color':getConnectionColor(node.type)}"
          (dblclick)="centerNode(node)"></div>
        <div class="node">{{node.name}}</div>
      </li>
    </ul>
  </div>
  <div class="nodes">
    <div class="add-item">
      1
    </div>
    <div class="add-item">
      2
    </div>
    <div class="add-item">
      3
    </div>
  </div>
</div>