.sidebar
    display: flex
    flex-direction: row
    width: 300px
    background-color: #2d2d2d
    color: white
    height: 100vh
    .tabs

        height: 100%
        .tab
            padding: 10px
            cursor: pointer
            background-color: #2d2d2d
            border-bottom: 1px solid #444
            &.active
                background-color: #3d3d3d !important

    .content
        flex: 1
        padding: 10px
        background-color: #3d3d3d
        .add-btn
            padding: 10px
            background-color: #007acc
            color: white
            border: none
            cursor: pointer
