.sidebar
    position: absolute
    display: flex
    align-items: start
    top: 10px
    bottom: 10px
    left: 10px
    z-index: 5
    .panel
        display: flex
        flex-direction: column
        height: 100%
        width: 200px
        background-color: #fbfbfb
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
        padding: 18px
        border-radius: 8px

        .dropdown
            position: relative
            display: inline-block
            margin-bottom: 18px

            .dropbtn
                background: #fbfbfb
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
                color: black
                font-size: 10px
                border: none
                cursor: pointer
                text-align: center
                padding: 2px 8px
                border-radius: 6px
                display: flex
                align-items: center
                justify-content: center
                mat-icon
                    font-size: 16px
                    display: flex
                    align-items: center
                    justify-content: center

            .dropdown-content
                display: none
                position: absolute
                background-color: #fbfbfb
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
                z-index: 2
                border-radius: 6px
                margin-top: 10px
                padding: 6px 0px

                a
                    color: black
                    padding: 6px 12px
                    text-decoration: none
                    display: block
                    font-size: 12px

                &.show
                    display: block

        .node-list
            li
                list-style: none
                display: flex
                align-items: center
                margin-bottom: 8px
                .node
                    font-size: 12px
                .icon
                    height: 8px
                    width: 8px
                    border-width: 0.5px
                    border-style: solid
                    border-radius: 100px
                    margin-right: 10px
                    &:hover
                        cursor: pointer

    .nodes
        margin-left: 10px
        display: flex
        align-items: center
        gap: 10px
        .add-item
            background: red
            height: 30px
            width: 30px
