<div class="route-node" cdkDrag (cdkDragMoved)="onDragMoved($event)" (cdkDragStarted)="onDragStart($event)"
    (cdkDragEnded)="onDragEnd($event)">
    <h3 *ngIf="!isEditing" (dblclick)="enableEditing()">{{ routeName }}</h3>
    <input *ngIf="isEditing" #routeInput [(ngModel)]="routeName" (blur)="disableEditing()"
        (keyup.enter)="disableEditing()" />
    <span class="connect-icon" (mousedown)="startConnecting($event)">+</span>
    <span class="middleware-icon" (mousedown)="startConnecting($event)"></span>
</div>