<div class="route-node" [ngClass]="{'focused':focused}" cdkDrag [cdkDragDisabled]="focused"
    [ngStyle]="{'transform': 'translate3d(' + calcX + 'px, ' + calcY + 'px,0)'}" (cdkDragMoved)="onDragMoved($event)"
    (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)" (mousemove)="mouseEnter($event)"
    (mouseout)="mouseOut($event)">
    <div class="id">@{{nodeId}}</div>
    <h3 *ngIf="!isEditing" (dblclick)="enableEditing()">{{ routeName }}</h3>
    <input *ngIf="isEditing" #routeInput [(ngModel)]="routeName" (blur)="disableEditing()"
        (keyup.enter)="disableEditing()" />
    <div class="buttons">
        <span (mousedown)="startConnectingMiddleware($event)"></span>
        <span (mousedown)="startConnecting($event)"></span>
    </div>
</div>