<div class="route-node" cdkDrag [style.left.px]="position.x - 250" [style.top.px]="position.y"
    (cdkDragMoved)="onDragMoved($event)" (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)">
    <h3 *ngIf="!isEditing" (dblclick)="enableEditing()">{{ routeName }}</h3>
    <input *ngIf="isEditing" #routeInput [(ngModel)]="routeName" (blur)="disableEditing()"
        (keyup.enter)="disableEditing()" />
    <div class="buttons">
        <span (mousedown)="startConnecting($event)"></span>
        <span (mousedown)="startConnecting($event)"></span>
    </div>
</div>