<div class="dashboard">
    <app-side-bar [nodes]="nodes$ | async" (centerNodeEvent)="onCenterNode($event)"></app-side-bar>
    <div class="main-content">
        <app-canvas [nodes]="nodes$ | async" [connections]="connections$ | async"
            [centerNodePosition]="centerNodePosition" (canvasMoved)="cancelSelection()"></app-canvas>
    </div>
    <div class="toolbar">
        <app-toolbar [fromNodeId]="fromNodeId" [fromNodeType]="fromNodeType" [toNodeId]="toNodeId"
            [toNodeType]="toNodeType" [connId]="connId" [selectedConnection]="fromNodeId!=null"
            [nodes]="nodes$ | async"></app-toolbar>
    </div>
</div>